.details {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}
.imageDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.descDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.item {
  margin-top: 20px;
}
